# Pandas Series/Dataframe/Panel

In [1]:
import pandas as pd
import numpy as np
s = pd.Series([0.1, 0.2, 0.3, 0.4])
print(s)
s = pd.Series([0.1, 0.2, 0.3, 0.4], index=['a', 'b', 'c', 'd'])
print(s)

df1 = pd.DataFrame(np.random.randn(6,4))
df2 = pd.DataFrame(np.random.random(6,4))

print(df1)
print(df2)

df = pd.DataFrame(np.random.randn(6,4), columns=['a', 'b', 'c', 'd'], index=['x', 'y', 'z', 'p', 'q', 'r'])
print(df)

0    0.1
1    0.2
2    0.3
3    0.4
dtype: float64
a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64

TypeError: random() takes at most 1 positional argument (2 given)

# Create Dataframe from List/Dict

In [3]:
import pandas as pd

my_list = [('isaac', 60, 50),('julie', 90, 70),('alex', 30, 40)]
header = ['name','math score','english score']
df_from_list = pd.DataFrame.from_records(my_list, columns=header)

print('create dataframe from list')
print(df_from_list)



my_dict = \
[{'name':'isaac', 'math score':60,'english score':50},
{'name':'julie', 'math score':90,'english score':70},
{'name':'alex', 'math score':30,'english score':40}
]

df_from_dict = pd.DataFrame(my_dict, columns=['name', 'math score', 'english score'])

print('create dataframe from dict')
print(df_from_dict)

create dataframe from list
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
create dataframe from dict
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40

# Read/Write CSV File

In [3]:
df = pd.read_csv('RegularSeasonCompactResults.csv')
#df = pd.read_csv('RegularSeasonCompactResults.csv', header=None)

# print first five row
print(df.head())

# save dataframe to a csv file
df.to_csv('dfnew.csv', index=False)
#df.to_csv('dfnew.csv', index=False, header=False)
#sep=','

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

# Basic Manipulate

In [4]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [5]:
print(df.shape)

(145289, 8)

In [6]:
print(df.head(10))

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
5    1985      25   1218      79   1337      78    H      0
6    1985      25   1228      64   1226      44    N      0
7    1985      25   1242      58   1268      56    N      0
8    1985      25   1260      98   1133      80    H      0
9    1985      25   1305      97   1424      89    H      0

In [7]:
print(df.tail())

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [8]:
print(df.describe())

              Season         Daynum          Wteam         Wscore  \
count  145289.000000  145289.000000  145289.000000  145289.000000
mean     2001.574834      75.223816    1286.720646      76.600321
std         9.233342      33.287418     104.570275      12.173033
min      1985.000000       0.000000    1101.000000      34.000000
25%      1994.000000      47.000000    1198.000000      68.000000
50%      2002.000000      78.000000    1284.000000      76.000000
75%      2010.000000     103.000000    1379.000000      84.000000
max      2016.000000     132.000000    1464.000000     186.000000

               Lteam         Lscore          Numot
count  145289.000000  145289.000000  145289.000000
mean     1282.864064      64.497009       0.044387
std       104.829234      11.380625       0.247819
min      1101.000000      20.000000       0.000000
25%      1191.000000      57.000000       0.000000
50%      1280.000000      64.000000       0.000000
75%      1375.000000      72.000000       0.000000
max      1464.000000     150.000000       6.000000

In [9]:
print(df.max())

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [10]:
print('print Wscore max and Lscore mean')
print(df['Wscore'].max())
print(df['Lscore'].mean())

print Wscore max and Lscore mean
186
64.49700940883343

In [11]:
# use iloc(integer-location based indexing for selection by position) to access row

print('print first three row of dataframe')
print(df.iloc[:3])

print first three row of dataframe
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [12]:
print(df[['Wscore', 'Lscore']].head())

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

In [13]:
print('print Wscore that is greater than 150')
print(df[df['Wscore'] > 150])

print Wscore that is greater than 150
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

In [14]:
print('print Wscore that is greater than 150 and Lscore is less than 100')
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

print Wscore that is greater than 150 and Lscore is less than 100

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

# Add/Drop Pandas Row/Column

In [15]:
import pandas as pd

my_list = [('isaac', 60, 50),('julie', 90, 70),('alex', 30, 40)]
header = ['name','math score','english score']
df_from_list = pd.DataFrame.from_records(my_list, columns=header)

print(df_from_list)


new_row = pd.DataFrame([['leo', 70, 50]], columns=df_from_list.columns.tolist() )

print('add a new row')
# add a new row
df = df_from_list.append(new_row, ignore_index=True)
print(df)

print('drop a row')
# drop a row
df = df.drop([2], axis=0)
df = df.reset_index(drop=True)
print(df)

print('add a new column')
# add a new column
df['chinese score'] = pd.Series([ 50, 70, 60])
print(df)

print('drop a column')
# drop a column
df = df.drop(['math score'], axis=1)
print(df)

    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
add a new row
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
3    leo          70             50
drop a row
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2    leo          70             50
add a new column
    name  math score  english score  chinese score
0  isaac          60             50             50
1  julie          90             70             70
2    leo          70             50             60
drop a column
    name  english score  chinese score
0  isaac             50             50
1  julie             70             70
2    leo             50             60

# Missing Value

In [16]:
import pandas as pd

# load csv file
df = pd.read_csv('na_demo.csv')

print('origin dataframe')
print(df)

print('drop row that contain any missing value')
# drop row that contain any missing value
df_no_missing = df.dropna()
print(df_no_missing)

print('fill missing value with mean')
# fill missing value with mean 
df["size"].fillna(df["size"].mean(), inplace=True)
print(df)

origin dataframe
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3   NaN          2.0          770        old
4   NaN          NaN          870      young
drop row that contain any missing value
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
fill missing value with mean
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3  34.0          2.0          770        old
4  34.0          NaN          870      young

# Encoding categorical features

In [17]:
import pandas as pd

# load csv file
df = pd.read_csv('na_demo.csv')

print('origin dataframe')
print(df)

print('encode category')
df['house_type'] = pd.Categorical(df['house_type']).codes
print(df)

origin dataframe
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3   NaN          2.0          770        old
4   NaN          NaN          870      young
encode category
   size  number_room  house_price  house_type
0  40.0          3.0          800           0
1  29.0          5.0          700           1
2  33.0          2.0          670           1
3   NaN          2.0          770           0
4   NaN          NaN          870           1

# Apply

In [18]:
import pandas as pd

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())

df['Wscore'] = df['Wscore'].apply(lambda x: 'high score' if x>70 else 'low score')
print(df.head())

print('==================')

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())

def add_one(x):
    if x > 70:
        return 'hight score'
    else:
        return 'low score'
    

df['Wscore'] = df['Wscore'].apply(add_one)
print(df.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
   Season  Daynum  Wteam      Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228  high score   1328      64    N      0
1    1985      25   1106  high score   1354      70    H      0
2    1985      25   1112   low score   1223      56    H      0
3    1985      25   1165   low score   1432      54    H      0
4    1985      25   1192  high score   1447      74    H      0
==================
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
   Season  Daynum  Wteam       Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228  hight score   1328      64    N      0
1    1985      25   1106  hight score   1354      70    H      0
2    1985      25   1112    low score   1223      56    H      0
3    1985      25   1165    low score   1432      54    H      0
4    1985      25   1192  hight score   1447      74    H      0

# Merge

In [20]:
import pandas as pd

df1 = pd.read_csv('merge1.csv')
df2 = pd.read_csv('merge2.csv')

print('first dataframe is:')
print(df1.head())

print('second dataframe is:')
print(df2.head())

first dataframe is:
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
second dataframe is:
  student name  english score
0        isaac             70
1         jack             33
2         judy             89
3        kevin             64
4         alex             99

In [21]:
print('\ninner merge\n')
inner_merge = pd.merge(df1, df2, on='student name')
print(inner_merge.head())

inner merge

  student name  math score  english score
0        isaac         100             70
1        kevin          70             64
2         jack          90             33
3         judy          75             89

In [22]:
print('\nouter merge\n')
outer_merge = pd.merge(df1, df2, on='student name', how='outer')
print(outer_merge.head())

outer merge

  student name  math score  english score
0        isaac       100.0             70
1        kevin        70.0             64
2         jack        90.0             33
3         judy        75.0             89
4         alex         NaN             99

# Append

In [24]:
import pandas as pd

df1 = pd.read_csv('append1.csv')
df2 = pd.read_csv('append2.csv')


print('first dataframe is:')
print(df1)

print('second dataframe is:')
print(df2)

df_append = df1.append(df2)
print(df_append)

df_append = df1.append(df2, ignore_index=True)
print(df_append)

first dataframe is:
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
second dataframe is:
  student name  math score
0        salad          13
1         lily          75
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
0        salad          13
1         lily          75
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
4        salad          13
5         lily          75

# Groupby

In [25]:
import pandas as pd

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())
print(df.groupby('Wloc').sum())
print('======')
print(df.groupby('Wloc').mean())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
         Season   Daynum      Wteam   Wscore      Lteam   Lscore  Numot
Wloc
A      88529580  3491965   56885271  3307504   56745323  2889768   2455
H     173076379  6348360  111306614  6722177  110918450  5543282   3160
N      29200847  1088868   18754471  1099503   18722264   937656    834
======
           Season     Daynum        Wteam     Wscore        Lteam     Lscore  \
Wloc
A     2001.618395  78.951932  1286.153225  74.781343  1282.989057  65.336499
H     2001.554035  73.416059  1287.213216  77.739092  1282.724266  64.105677
N     2001.566043  74.636233  1285.521352  75.365207  1283.313730  64.271437

         Numot
Wloc
A     0.055507
H     0.036544
N     0.057166

# Crawl Data via Pandas

In [28]:
import pandas as pd
url = 'http://rate.bot.com.tw/xrt?Lang=zh-TW'
df_list = pd.read_html(url)
print(df_list[0])

                        幣別                        現金匯率          \
                        幣別 Unnamed: 1_level_1     本行買入    本行賣出
0       美金 (USD)  美金 (USD)              29.64    30.31   29.99
1       港幣 (HKD)  港幣 (HKD)              3.719    3.923   3.845
2       英鎊 (GBP)  英鎊 (GBP)              35.84    37.96   36.84
3       澳幣 (AUD)  澳幣 (AUD)              18.68    19.46   18.95
4   加拿大幣 (CAD)  加拿大幣 (CAD)              20.82    21.73   21.21
5   新加坡幣 (SGD)  新加坡幣 (SGD)              20.48    21.39   20.97
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)              29.91    31.11   30.57
7       日圓 (JPY)  日圓 (JPY)             0.2699   0.2827  0.2772
8     南非幣 (ZAR)  南非幣 (ZAR)                  -        -   1.528
9     瑞典幣 (SEK)  瑞典幣 (SEK)               2.59     3.11    2.93
10      紐元 (NZD)  紐元 (NZD)              17.51    18.36   17.89
11      泰幣 (THB)  泰幣 (THB)             0.7981   0.9881  0.9105
12  菲國比索 (PHP)  菲國比索 (PHP)             0.5183   0.6513       -
13    印尼幣 (IDR)  印尼幣 (IDR)            0.00163  0.00233       -
14      歐元 (EUR)  歐元 (EUR)              31.51    32.85   32.13
15      韓元 (KRW)  韓元 (KRW)            0.02258  0.02648       -
16    越南盾 (VND)  越南盾 (VND)             0.0009   0.0014       -
17    馬來幣 (MYR)  馬來幣 (MYR)              5.771    7.396       -
18    人民幣 (CNY)  人民幣 (CNY)              4.136    4.298   4.208

   Unnamed: 4_level_0 即期匯率                    Unnamed: 7_level_0     遠期匯率  \
                 本行買入 本行賣出 Unnamed: 6_level_1               本行買入     遠期匯率
0               30.09   查詢                 查詢              29.64    30.31
1               3.905   查詢                 查詢              3.719    3.923
2               37.26   查詢                 查詢              35.84    37.96
3               19.18   查詢                 查詢              18.68    19.46
4               21.43   查詢                 查詢              20.82    21.73
5               21.15   查詢                 查詢              20.48    21.39
6               30.86   查詢                 查詢              29.91    31.11
7              0.2812   查詢                 查詢             0.2699   0.2827
8               1.608   查詢                 查詢                  -        -
9                3.03   查詢                 查詢               2.59     3.11
10              18.09   查詢                 查詢              17.51    18.36
11             0.9505   查詢                 查詢             0.7981   0.9881
12                  -   查詢                 查詢             0.5183   0.6513
13                  -   查詢                 查詢            0.00163  0.00233
14              32.53   查詢                 查詢              31.51    32.85
15                  -   查詢                 查詢            0.02258  0.02648
16                  -   查詢                 查詢             0.0009   0.0014
17                  -   查詢                 查詢              5.771    7.396
18              4.258   查詢                 查詢              4.136    4.298

      歷史匯率           現金匯率        Unnamed: 13_level_0                即期匯率  \
      歷史匯率    本行賣出 本行買入.1 本行賣出.1 Unnamed: 13_level_1 Unnamed: 14_level_1
0    29.99   30.09    NaN    NaN                 NaN                 NaN
1    3.845   3.905    NaN    NaN                 NaN                 NaN
2    36.84   37.26    NaN    NaN                 NaN                 NaN
3    18.95   19.18    NaN    NaN                 NaN                 NaN
4    21.21   21.43    NaN    NaN                 NaN                 NaN
5    20.97   21.15    NaN    NaN                 NaN                 NaN
6    30.57   30.86    NaN    NaN                 NaN                 NaN
7   0.2772  0.2812    NaN    NaN                 NaN                 NaN
8    1.528   1.608    NaN    NaN                 NaN                 NaN
9     2.93    3.03    NaN    NaN                 NaN                 NaN
10   17.89   18.09    NaN    NaN                 NaN                 NaN
11  0.9105  0.9505    NaN    NaN                 NaN                 NaN
12       -       -    NaN    NaN                 NaN                 NaN
13       -       -    NaN    NaN                 NaN                 NaN
14   32.13   32.53    NaN    NaN                 NaN                 NaN
15       -       -    NaN    NaN                 NaN                 NaN
16       -       -    NaN    NaN                 NaN                 NaN
17       -       -    NaN    NaN                 NaN                 NaN
18   4.208   4.258    NaN    NaN                 NaN                 NaN

                       Unnamed: 16_level_0
   Unnamed: 15_level_1 Unnamed: 16_level_1
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
5                  NaN                 NaN
6                  NaN                 NaN
7                  NaN                 NaN
8                  NaN                 NaN
9                  NaN                 NaN
10                 NaN                 NaN
11                 NaN                 NaN
12                 NaN                 NaN
13                 NaN                 NaN
14                 NaN                 NaN
15                 NaN                 NaN
16                 NaN                 NaN
17                 NaN                 NaN
18                 NaN                 NaN